<table class="w-full w-text-sm text-left mx-auto">
  <thead class="text-xs uppercase border-b-2 border-indigo-500">
    <tr>
      <th scope="col" class="py-3 px-6">action</th>
      <th scope="col" class="py-3 px-6">title</th>
      <th scope="col" class="py-3 px-6">Description</th>
      <th scope="col" class="py-3 px-6">Date</th>
      <th scope="col" class="py-3 px-6">Location</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let event of events">
      <tr class="bg-gray-100 mt-6 hover:bg-gray-200 cursor-pointer">
          <td scope="col" class="py-4 px-6">
            <button class="bg-red-500 text-white px-4 py-2 rounded-md" (click)="delete(event.id)">Delete</button>
            <button class="ms-3 bg-green-500 text-white px-4 py-2 rounded-md">modifier</button>
          </td>
          <td scope="col" class="py-4 px-6 ">
          &nbsp;{{ event.title }}
          </td>
          <td scope="col" class="py-4 px-6">
              {{ event.description }}
          </td>
          <td scope="col" class="py-4 px-6">
              {{ event.date | date: 'MM/dd/yyyy' }}
          </td>
          <td scope="col" class="py-4 px-6">
              {{ event.location }}
          </td>
      </tr>
    </ng-container>
  </tbody>
</table>